<div id="connexionScreen">
  <div id="connexionContent">
    <img src="../../../../assets/weed.png" alt="weed" />
    <div id="formConnexion">
      <div id="username">
        <img src="../../../../assets/user.png" alt="username" />
        <input name="username" placeholder="VOTRE USERNAME" [(ngModel)]="username" />
      </div>
      <div id="email">
        <img src="../../../../assets/mail.png" alt="email" /> <input name="email" placeholder="VOTRE EMAIL" [(ngModel)]="email" />
      </div>
      <div class="buttonConnexion" (click)="recuperer()">Recuperer mot de passe</div>
      <div class="buttonConnexion" routerLink="/Connexion" routerLinkActive="active">Retour</div>
    </div>
  </div>
</div>
