.home-screen-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 35%;
  margin-right: 35%;
  overflow-y: scroll;
  height: calc(98vh - 110px);
}

h2 {
  text-align: center;
}

.card-main-container {
  background-color: white;
  border-radius: 1rem;
  margin: 2rem 0;
}

.card-description-container {
  display: none;
}
button {
  float: right;
}
mat-card {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.card-text {
  text-align: center;
  width: 100%;
}

mat-card-title {
  font-weight: bold;
  margin-top: 1rem !important;
}

.mat-card-image:first-child {
  margin: 0;
}

.card-image {
  margin: auto !important;
  border-radius: 1rem;
  max-width: 80%;
  max-height: 60%;
}

.card-bottom-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card-title-container {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.card-icon {
  margin: auto;
}
